<a href="https://colab.research.google.com/github/ahcamachod/python-para-datascience-primeros-pasos/blob/proyecto-final/Python_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para Data Science

Notebook para el curso de Python para Data Science publicado en la plataforma de [Alura Latam](https://www.aluracursos.com/)

# Introducción a Python
¡Vamos a conocer Python, nuestro ambiente de estudio, y también generaremos nuestro primer código en este lenguaje!

## Google Colaboratory

Ya aprendimos qué es [Python](https://www.python.org/) y ahora aprenderemos a usar nuestra herramienta de ejecución [Google Colaboratory](https://colab.research.google.com/) para programar en un notebook interactivo.

Vamos a probar algunas funciones de este ambiente.

 **`>>> Usa esta celda para mover <<<`**

## ¡Hola mundo!

Vamos a conocer un poco más de cerca nuestro notebook. Para ello ejecutaremos nuestro primer comando en Python: [`print()`](https://docs.python.org/3/library/functions.html#print)

In [ ]:
print('¡Hola mundo!')

¡Hola mundo!

In [ ]:
15

15

In [ ]:
print('Mi nombre es Álvaro y tengo 39 años y me encanta la ciencia de datos.')

Mi nombre es Álvaro y tengo 39 años y me encanta la ciencia de datos.

---

## Desafios del aula 1

1 - Imprime la frase "Escuela de Datos de Alura".

In [ ]:
print("Escuela de Datos de Alura")

2 - Imprime tu nombre y tu apellido siguiendo la estructura a continuación:

Nombre: [tu nombre]
Apellido: [tu apellido]

```
Nombre: [tu nombre]
Apellido: [tu apellido]
```

In [ ]:
print("Nombre: Oscar")
print("Apellido: Paye")

Nombre: Oscar
Apellido: Paye

3 - Imprime tu primer nombre letra por letra. Por ejemplo, si mi nombre es Álvaro, la salida sería:


```
Á
L
V
A
R
O
```

In [ ]:
nombre = "Oscar"
for letra in nombre.upper():
    print(letra)

O
S
C
A
R

4 - Imprime tu fecha de nacimiento en formato día mes año. Recuerda que los valores de día y año no deben estar entre comillas. Suponiendo una fecha de cumpleaños el 28 de febrero de 2003, el formato debe ser como el siguiente:


```
28 febrero 2003

```

In [ ]:
dia = 29
mes = "noviembre"
año = 2001
print(dia, mes, año)

29 noviembre 2001

5 - Imprime, en una sola instrucción print, el año actual en el que estás realizando este curso. El valor del año debe ser un dato numérico, y la salida de print debe ser la siguiente:



```
Año actual: [año]
```

In [ ]:
print("Año actual:", 2025)

Año actual: 2025

---

# Manipulando los datos

Vamos a aprender sobre las variables en Python, cómo declararlas y utilizarlas además de conocer otros comandos de este lenguaje. :D

## Variables

En Data Science trabajamos con varios tipos de datos e informaciones, entonces es esencial saber cómo trabajar con las variables.

Las variables en Python se crean cuando atribuimos un valor a ella.

Para esto, colocamos el nombre de la variable, el signo de igual (`=`) y el valor que queremos atribuirle.

In [ ]:
5

5

In [ ]:
id(5)

10757864

In [ ]:
edad = 5

In [ ]:
print(id(edad))
print(id(5))

10757864
10757864

In [ ]:
numerocinco = 5

In [ ]:
id(numerocinco)

10757864

In [ ]:
nombre = 'Gabriel'

In [ ]:
id('Gabriel')

135890510022576

In [ ]:
id(nombre)

135890510022576

Existen algunos tipos de nomes que **no** podemos definir para las variables:

- **Nombres que comiencen con números**
  - Ejemplos: `10_notas`, `2_nombre_casa`, etc.
- **Palabras separadas por espacio**
  - Ejemplos: `Nombre escuela`, `notas estudiantes`, etc.
- **Nombres de funciones de Python**
  - Ejemplos: `print`, `type`, etc.

> Las letras mayúsculas y minúsculas generarán diferentes variables. La variable `edad` es diferente de `Edad` que a su vez es diferente de `EDAD`:
``` Python
edad = 1
Edad = 2
EDAD = 3
_edad = 4
_edad_ = 5
print(edad, Edad, EDAD, _edad, _edad_)
1 2 3 4 5
```

## Tipos de variables

Cada variable contiene una clase específica con respecto al tipo de objeto al cual esta hace referencia. Estas clases serán diferentes de acuerdo con el tipo de dato que le sea atribuido a una variable.

Para conocer la clase de cada elemento usamos la función [`type()`](https://docs.python.org/3/library/functions.html#type)

In [ ]:
edad = 5

In [ ]:
type(edad)

int

In [ ]:
promedio = 9.5
type(promedio)

float

In [ ]:
nombre = "Oscar"
type('Oscar')

str

In [ ]:
type(nombre)

str

In [ ]:
v = True
type(v)

bool

En un conjunto de datos escolares podemos tener varios tipos de informaciones. Supongamos que tenemos acceso a la ficha de datos del alumno *Penélope Camacho*, cómo transformamos este nombre en variables de Python?

#### Ficha:

- Nombre: Penélope Camacho
- Edad: 11 años
- Promedio del semestre: 9,75
- Situación de aprobación: Verdadera (aprobado)

In [ ]:
nombre_estudiante = 'Penélope Camacho'
edad_estudiante = 11
promedio_estudiante = 9.75
aprobado = True

print(nombre_estudiante,edad_estudiante,promedio_estudiante,aprobado)
print(type(nombre_estudiante),type(edad_estudiante),type(promedio_estudiante),type(aprobado))

Penélope Camacho 11 9.75 True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

## Variables numéricas

Entre los tipos de datos numéricos vamos a enfocarnos en los tipos `entero` y `float`.

Tenemos una tabla de información sobre los diversos cargos, cantidad de personas empleadas y el salario correspondiente:

|Cargo | Cantidad | Salario|
|---|---|---|
|Vigilante | 5 | 300 |
|Docente | 16| 500|
|Coordinador| 2 |600|

Necesitamos trabajar con estos datos para obtener:

- La cantidad total de empleados;
- La diferencia entre el salario más bajo y más alto; y
- El promedio ponderado de los salarios de los empleados de la escuela.

In [ ]:
c_vigilante = 5
s_vigilante = 300

c_docente = 16
s_docente = 500

c_coordinador = 2
s_coordinador = 600

In [ ]:
total_empleados = c_vigilante + c_docente + c_coordinador
total_empleados

23

In [ ]:
diferencia_salario = s_coordinador - s_vigilante
diferencia_salario

300

In [ ]:
promedio_salarios = (c_vigilante * s_vigilante + c_docente * s_docente
                     + c_coordinador * s_coordinador) / total_empleados
promedio_salarios

465.2173913043478

In [ ]:
type(promedio_salarios)

float

## Strings

Strings hace referencia a un conjunto de caracteres formando un texto.

Podemos crear Strings cuando atribuimos un dato a una variable entre comillas sencillas (`'`) o comillas dobles (`"`).

In [ ]:
t = 'Alura'
type(t)

str

Las variables textuales son objetos que poseen métodos que nos ayudan a formatear strings. Los métodos los podemos ejecutar al definir un objeto de acuerdo con la siguiente estructura:

```
objeto.metodo()
```

Existen métodos que no necesitan los `()`, siempre es una buena práctica verificar la documentación para cada caso.

---
**Situación:**

Recibimos una variable con el nombre de una profesora de la escuela para añadirla a los registros. Sin embargo, necesitamos darle un tratamiento a este texto antes de insertarlo al sistema.

In [ ]:
texto = '  Micaela de los Sanyos '
id(texto)

135890511541184

El objetivo final es que el nombre aparezca de la siguiente forma:

```
'MICAELA DE LOS SANTOS'
```

### [`str.upper()` ](https://docs.python.org/3/library/stdtypes.html#str.upper)
Convierte una string a mayúsculas.

In [ ]:
texto.upper()

'  MICAELA DE LOS SANYOS '

### [`str.lower()`](https://docs.python.org/3/library/stdtypes.html#str.lower)
Convierte una string a minúsculas.

In [ ]:
texto.lower()

'  micaela de los sanyos '

### [`str.strip()`](https://docs.python.org/3/library/stdtypes.html#str.strip)
Elimina los espacios en blanco al inicio y al final de una string.

In [ ]:
texto.strip()

'Micaela de los Sanyos'

### [`str.replace(antiguo, nuevo)`](https://docs.python.org/3/library/stdtypes.html#str.replace)

Sustituye todas las ocurrencias del texto "antiguo" en la string por el  "nuevo".

In [ ]:
texto.replace('y','t')

'  Micaela de los Santos '

### Observaciones

1. Los métodos devuelven una **tranformación**, no son ejecutados directamente sobre la variable donde está almacenado el texto.

2. Adicionalmente, podemos acumular la ejecución de los métodos.

In [ ]:
texto

'  Micaela de los Sanyos '

In [ ]:
id(texto)

135890511541184

Para que la transformación se pueda ejecutar debemos atribuir la salida de las transformaciones a las variables

In [ ]:
nuevo_texto = texto.strip().replace('y','t').upper()
print(nuevo_texto)
print(id(texto), id(nuevo_texto))

MICAELA DE LOS SANTOS
135890511541184 135890509669408

In [ ]:
texto = texto.strip().replace('y','t').upper()
print(texto)
print(id(texto), id(nuevo_texto))

MICAELA DE LOS SANTOS
135890510071328 135890509669408

## Capturando datos

En algunas aplicaciones necesitamos capturar los valores del usuario de nuestro proyecto. En python, logramos capturar los datos del usuario a través del comando [`input()`](https://docs.python.org/3/library/functions.html#input).

Para ejecutar la captura debemos atribuir el resultado de esta función a una variable.

In [ ]:
nombre = input("Escribe tu nombre: ")

Escribe tu nombre: Álvaro

In [ ]:
type(nombre)

str

La salida de este comando siempre será una *string*. Esto quiere decir que aunque capturemos un valor de variable numérica, este será de tipo string.

Entonces, será necesario **convertir el resultado cuando no se desea utilizar el valor como tipo string**.

Existen funciones para la conversión de valores:

- Enteros: [`int(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#int)
- Coma flotante: [`float(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#float)
- String: [`str(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#func-str)
- Booleano: [`bool(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#bool)

In [ ]:
ano_admision = int(input('Digita el año de admisión: '))

Digita el año de admisión: 2020

In [ ]:
type(ano_admision)

int

In [ ]:
nota_admision = float(input('Digita la nota de admisión: '))

Digita la nota de admisión: 20

In [ ]:
type(nota_admision)

float

Trataremos de representar mejor ahora el resultado de la transformación que obtuvimos. Nosotros podemos formatear y presentar nuestro resultado mezclando strings con valores no textuales.

Para ello utilizamos la estructura de formatación `f` con strings.

In [ ]:
print(f'\tEl año de admisión fue: {ano_admision} \n\tLa nota de admisión fue: {nota_admision}')

	El año de admisión fue: 2020
	La nota de admisión fue: 20.0

## Unicode

La tabla Unicode es una tabla de codificación de caracteres que asocia códigos numéricos con caracteres específicos. Su objetivo era incluir caracteres de todos los idiomas y sistemas de escritura existentes en el mundo

[Documentación de Unicode aquí](https://www.unicode.org/versions/stats/)

### Ejemplos:

In [ ]:
chr(64)

'@'

In [ ]:
chr(72)+ chr(111) + chr(108) + chr(97)

'Hola'

## Diversos formatos de print()
Existen diversos formatos de print() como el uso del operador de formateo de cadena o la función .format().

In [ ]:
nombre_alumno = 'Penélope Camacho'
print('Nombre del alumno: %s' %(nombre_alumno))

Nombre del alumno: Penélope Camacho

In [ ]:
nombre_alumno = 'Penélope Camacho'
edad_alumno = 11
media_alumno = 9.95
print('Nombre del alumno es %s, tiene %d años y su media es %f.' %(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Penélope Camacho, tiene 11 años y su media es 9.950000.

In [ ]:
print('Nombre del alumno es %s, tiene %d años y su media es %.2f.' %(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Penélope Camacho, tiene 11 años y su media es 9.95.

In [ ]:
x = True
print("Valor de x: %s" % str(x))

Valor de x: True

In [ ]:
nombre_alumno = 'Penélope Camacho'
print('Nombre del alumno: {}'.format(nombre_alumno))

Nombre del alumno: Penélope Camacho

In [ ]:
nombre_alumno = 'Fabricio Daniel'
edad_alumno = 15
media_alumno = 9.95
print('Nombre del alumno es {}, tiene {} años y su media es {}.' .format(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Fabricio Daniel, tiene 15 años y su media es 9.95.

In [ ]:
print("Estudiar es un esfuerzo constante,\nEs como cultivar una planta,\nNecesitamos dedicación y paciencia,\nPara ver madurar el fruto.")

Estudiar es un esfuerzo constante,
Es como cultivar una planta,
Necesitamos dedicación y paciencia,
Para ver madurar el fruto.

In [ ]:
print('Cantidad\tCalidad\n5 muestras\tAlta\n3 muestras\tBaja')

Cantidad	Calidad
5 muestras	Alta
3 muestras	Baja

In [ ]:
print("Ruta del archivo: C:\\archivos\\documento.csv")

Ruta del archivo: C:\archivos\documento.csv

In [ ]:
print("Una vez oí: \"Los frutos del conocimiento son los más dulces y duraderos de todos.\"")

Una vez oí: "Los frutos del conocimiento son los más dulces y duraderos de todos."

In [ ]:
print('Mi profesora una vez dijo: \'Estudiar es la clave del éxito.\'')

Mi profesora una vez dijo: 'Estudiar es la clave del éxito.'

## Desafios del aula 2

### Recopilación y muestra de datos

1 - Crea un programa que solicite al usuario que escriba su nombre y luego imprima "Hola, [nombre]."

In [ ]:
nombre = input("Escribe tu nombre: ")
print(f"Hola, {nombre}.")

Escribe tu nombre: Oscar
Hola, Oscar.


2 - Crea un programa que solicite al usuario que escriba su nombre y edad, y luego imprima "Hola, [nombre], tienes [edad] años."

In [ ]:
nombre = str(input("Escribe tu nombre: "))
edad = int(input("Escribe tu edad: "))
print(f"Hola, {nombre}, tienes {edad} años.")

Escribe tu nombre: Oscar
Escribe tu edad: 23
Hola, Oscar, tienes 23 años.


3 - Crea un programa que solicite al usuario que escriba su nombre, edad y altura en metros, y luego imprima "Hola, [nombre], tienes [edad] años y mides [altura] metros."

In [ ]:
nombre = str(input("Escribe tu nombre: "))
edad = int(input("Escribe tu edad: "))
altura = float(input("Escribe tu altura en metros (ejemplo: 1.75): "))
print(f"Hola, {nombre}, tienes {edad} años y mides {altura} metros.")

Escribe tu nombre: Oscar
Escribe tu edad: 12
Escribe tu altura en metros (ejemplo: 1.75): 1.69
Hola, Oscar, tienes 12 años y mides 1.69 metros.

### Calculadora con operadores

4 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la suma de ambos valores.

In [ ]:
num1 = float(input("Escribe el primer número: "))
num2 = float(input("Escribe el segundo número: "))
print(f"La suma es: {num1 + num2}")

Escribe el primer número: 12.4
Escribe el segundo número: 12.1
La suma es: 24.5

5 - Crea un programa que solicite tres valores numéricos al usuario y luego imprima la suma de los tres valores.

In [ ]:
num1 = float(input("Escribe el primer número: "))
num2 = float(input("Escribe el segundo número: "))
num3 = float(input("Escribe el tercer número: "))
print(f"La suma es: {num1 + num2 + num3}")

Escribe el primer número: 1
Escribe el segundo número: 2
Escribe el tercer número: 10
La suma es: 13.0

6 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la resta del primero menos el segundo valor.

In [ ]:
num1 = float(input("Escribe el primer número: "))
num2 = float(input("Escribe el segundo número: "))
print(f"La resta es: {num1 - num2}")

Escribe el primer número: 12
Escribe el segundo número: 5
La resta es: 7.0

7 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la multiplicación de los dos valores.

In [ ]:
num1 = float(input("Escribe el primer número: "))
num2 = float(input("Escribe el segundo número: "))
print(f"La multiplicación es: {num1 * num2}")

Escribe el primer número: 1.2
Escribe el segundo número: 1.5
La multiplicación es: 1.7999999999999998

8 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y realice la división entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

In [ ]:
num1 = float(input("Escribe el numerador: "))
num2 = float(input("Escribe el denominador: "))
if num2 != 0:
    print(f"La división es: {num1 / num2}")
else:
    print("Error: el denominador no puede ser 0.")

Escribe el numerador: 12
Escribe el denominador: 5
La división es: 2.4

9 - Crea un programa que solicite dos valores numéricos, un operador y una potencia, y realice la exponenciación entre estos dos valores.

In [ ]:
base = float(input("Escribe la base: "))
exponente = float(input("Escribe el exponente: "))
print(f"El resultado de la potencia es: {base ** exponente}")

Escribe la base: 12
Escribe el exponente: 2
El resultado de la potencia es: 144.0

10 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y realice la división entera entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

In [ ]:
num1 = int(input("Escribe el numerador (entero): "))
num2 = int(input("Escribe el denominador (entero): "))
if num2 != 0:
    print(f"La división entera es: {num1 // num2}")
else:
    print("Error: el denominador no puede ser 0.")

Escribe el numerador (entero): 12
Escribe el denominador (entero): 5
La división entera es: 2

11 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y devuelva el resto de la división entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

In [ ]:
num1 = int(input("Escribe el numerador (entero): "))
num2 = int(input("Escribe el denominador (entero): "))
if num2 != 0:
    print(f"El resto de la división es: {num1 % num2}")
else:
    print("Error: el denominador no puede ser 0.")

Escribe el numerador (entero): 12
Escribe el denominador (entero): 2
El resto de la división es: 0

12 - Crea un código que solicite las 3 notas de un estudiante e imprima el promedio de las notas.

In [ ]:
nota1 = float(input("Escribe la nota 1: "))
nota2 = float(input("Escribe la nota 2: "))
nota3 = float(input("Escribe la nota 3: "))
promedio = (nota1 + nota2 + nota3) / 3
print(f"El promedio de las notas es: {promedio}")

Escribe la nota 1: 20
Escribe la nota 2: 19.5
Escribe la nota 3: 19
El promedio de las notas es: 19.5

13 - Crea un código que calcule e imprima el promedio ponderado de los números 5, 12, 20 y 15 con pesos respectivamente iguales a 1, 2, 3 y 4.

In [ ]:
numeros = [5, 12, 20, 15]
pesos = [1, 2, 3, 4]
suma_ponderada = sum(n * p for n, p in zip(numeros, pesos))
suma_pesos = sum(pesos)
promedio_ponderado = suma_ponderada / suma_pesos
print(f"El promedio ponderado es: {promedio_ponderado}")

El promedio ponderado es: 14.9

### Editando textos

14 - Crea una variable llamada "frase" y asígnale una cadena de texto de tu elección. Luego, imprime la frase en pantalla.

In [ ]:
frase = "Esta es una frase de ejemplo."
print(frase)

Esta es una frase de ejemplo.


15 - Crea un código que solicite una frase y luego imprima la frase en pantalla.

In [ ]:
frase = input("Escribe una frase: ")
print(frase)

Escribe una frase: HOLAAA soy Oscar
HOLAAA soy Oscar

16 - Crea un código que solicite una frase al usuario y luego imprima la misma frase ingresada pero en mayúsculas.

In [ ]:
frase = input("Escribe una frase: ")
print(frase.upper())

Escribe una frase: hola soy Oscar
HOLA SOY OSCAR

17 - Crea un código que solicite una frase al usuario y luego imprima la misma frase ingresada pero en minúsculas.

In [ ]:
frase = input("Escribe una frase: ")
print(frase.lower())

Escribe una frase: Hola Soy Oscar
hola soy oscar

18 - Crea una variable llamada "frase" y asígnale una cadena de texto de tu elección. Luego, imprime la frase sin espacios en blanco al principio y al final.

In [ ]:
frase = "   Espacios al inicio y final   "
print(frase.strip())

Espacios al inicio y final

19 - Crea un código que solicite una frase al usuario y luego imprima la misma frase sin espacios en blanco al principio y al final.

In [ ]:
frase = input("Escribe una frase: ")
print(frase.strip())

Escribe una frase:       < este espacio bue borrado >
< este espacio bue borrado >

20 - Crea un código que solicite una frase al usuario y luego imprima la misma frase sin espacios en blanco al principio y al final, además de convertirla a minúsculas.

In [ ]:
frase = input("Escribe una frase: ")
print(frase.strip().lower())

Escribe una frase:      <- Espacio aqui , Nombre mays. OSCAR
<- espacio aqui , nombre mays. oscar

21 - Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las vocales "e" reemplazadas por la letra "f".

In [ ]:
frase = input("Escribe una frase: ")
print(frase.replace('e', 'f'))

Escribe una frase: esperanza es lo que no pierdo
fspfranza fs lo quf no pifrdo

22 - Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las vocales "a" reemplazadas por el carácter "@".

In [ ]:
frase = input("Escribe una frase: ")
print(frase.replace('a', '@'))

Escribe una frase: manzana
m@nz@n@

23 - Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las consonantes "s" reemplazadas por el carácter "$".

In [ ]:
frase = input("Escribe una frase: ")
print(frase.replace('s', '$'))

Escribe una frase: peras
pera$

# Estructuras condicionales

In [ ]:
# Nota de aprobación entre 7 y 10 == nota de aprobación >= 7
# Nota de reprobación es menor a 7 == nota de reprobación < 7

"""
Si la nota es mayor o igual a 7 entonces el estudiante aprueba
Si no, entonces el estudiante reprueba
"""

'\nSi la nota es mayor o igual a 7 entonces el estudiante aprueba\nSi no, entonces el estudiante reprueba\n'

## `IF` y `ELSE`

Los comandos `if` y `else` son dos estructuras condicionales. El comando `if` ejecutará el bloque de comandos en caso de que la condición citada sea  **verdadera**. El comando `else` ejecutará el bloque de comandos en el caso de que la condicional de `if` sea **falsa**.

El comando `if` es una palabra clave en Python que significa "si". Este se emplea para conformar la estructura condicional, que te permite verificar si una determinada condición es verdadera o falsa e, inmediatamente después, ejecute un bloque de código específico dependiendo del resultado de la verificación. La sintaxis para usar el comando `if` es:



```
if condicion:
    # Realiza algo
```

In [ ]:
if 2 < 7:
  print('La condición es verdadera.')

La condición es verdadera.

In [ ]:
if 2 > 7:
  print('La condición es verdadera.')
print('Fin de la consulta.')

Fin de la consulta.

---

---

Ya el comando `else` en Python se usa en junción con la palabra clave `if` para formar una estructura condicional. la sintaxis para usar el `else` es:

```
if condicion:
  # codigo en caso de que sea verdad
else:
  # codigo en caso de que sea falso
```

el comando `else` se ejecuta cuando la condición verificada por el `if` es evaluada como `False`.

In [ ]:
if 2 > 7:
  print('La condición es verdadera.')
else:
  print('La condición es falsa.')
print('Fin de la consulta.')

La condición es falsa.
Fin de la consulta.

---
## Operadores relacionales

### Mayor que (`>`)

In [ ]:
edad_maria = int(input('Ingrese la edad de María: '))
edad_beatriz = int(input('Ingrese la edad de Beatriz: '))

if edad_maria > edad_beatriz:
  print('María es mayor que Beatriz.')

Ingrese la edad de María: 12
Ingrese la edad de Beatriz: 13

### Menor que (<)

In [ ]:
edad_maria = int(input('Ingrese la edad de María: '))
edad_beatriz = int(input('Ingrese la edad de Beatriz: '))

if edad_maria < edad_beatriz:
  print('María es menor que Beatriz.')

Ingrese la edad de María: 12
Ingrese la edad de Beatriz: 13
María es menor que Beatriz.

### Mayor o igual a (>=)

In [ ]:
empleados_empresa_1 = int(input('Ingrese la cantidad de empleados de la empresa 1: '))
empleados_empresa_2 = int(input('Ingrese la cantidad de empleados de la empresa 2: '))

if empleados_empresa_1 >= empleados_empresa_2:
  print('La empresa 1 tiene una cantidad de empleados mayor o igual a la empresa 2.')

Ingrese la cantidad de empleados de la empresa 1: 100
Ingrese la cantidad de empleados de la empresa 2: 300

### Menor o igual a (<=)

In [ ]:
empleados_empresa_1 = int(input('Ingrese la cantidad de empleados de la empresa 1: '))
empleados_empresa_2 = int(input('Ingrese la cantidad de empleados de la empresa 2: '))

if empleados_empresa_1 <= empleados_empresa_2:
  print('La empresa 1 tiene una cantidad de empleados menor o igual a la empresa 2.')

Ingrese la cantidad de empleados de la empresa 1: 100
Ingrese la cantidad de empleados de la empresa 2: 300
La empresa 1 tiene una cantidad de empleados menor o igual a la empresa 2.

### Igual a (==)

In [ ]:
libro_1 = input('Ingrese el título del 1° libro: ')
libro_2 = input('Ingrese el título del 2° libro: ')

if libro_1 == libro_2:
  print('Los libros tienen el mismo título.')

Ingrese el título del 1° libro: A
Ingrese el título del 2° libro: B

### Diferente de (!=)

In [ ]:
libro_1 = input('Ingrese el título del 1° libro: ')
libro_2 = input('Ingrese el título del 2° libro: ')

if libro_1 != libro_2:
  print('Los libros tienen títulos diferentes.')

Ingrese el título del 1° libro: A
Ingrese el título del 2° libro: B
Los libros tienen títulos diferentes.

---
**Situación:**

Recibiremos el promedio de la nota de los estudiantes y necesitamos de un algoritmo que ejecute el análisis y determine si el estudiante fue **Aprobado** o **Reprobado**, mostrando un mensaje del resultado. Para ser aprobado, el promedio necesita ser igual o superior a 7.0.

In [ ]:
nota = float(input('Digita la nota: '))

if nota >= 7:
  print('Aprobó.')
else:
  print('Reprobó.')

Digita la nota: 7
Aprobó.

Ahora, nuestra institución educativa estableció que las personas que tengan el promedio entre 5.0 y 7.0 pueden participar del curso de **Recuperación** durante las vacaciones para lograr aprobar.

Entonces podemos apoyarnos en un conjunto de `if`s para poder estructurar esta nueva condición.

In [ ]:
nota = float(input('Digita la nota: '))

if nota >= 7:
  print('Aprobó.')
if 7 > nota >= 5:
  print('Recuperación.')
if nota < 5:
  print('Reprobó.')

Digita la nota: 8
Aprobó.

Observa que en casos con 3 situaciones como este necesitamos definir bien nuestras condiciones. Pues, si realizamos una condición con `else` al final, este irá a considerar solamente la condición `if` inmediatamente anterior para generar la salida en caso de que el resultado de su operación lógica sea **falso** dando como resultado, dos o más ejecuciones.

Por ejemplo:

In [ ]:
nota = float(input('Digita la nota: '))

if nota >= 7:
  print('Aprobó.')
if 7 > nota >= 5:
  print('Recuperación.')
else:
  print('Reprobó.')

Digita la nota: 8
Aprobó.
Reprobó.

## `ELIF`

El comando `elif` es una palabra clave en Python que significa "si no, si" y lo podemos considerar una *contracción* entre `else` e `if`. Se utiliza en conjunto con la palabra clave `if` para formar una estructura condicional en cadena.

la sintaxis para utilizar el comando `elif` es:

```
if condicion1:
    # Realiza algo
elif condicion2:
    # Realiza otra cosa
elif condicion3:
    # Realiza otra cosa
else:
    # Realiza algo diferente
```

El comando `elif` permite que puedas verificar varias condiciones en cadena, economizando espacio en tu código. Si la primera condición se evalúa como `False`, el interpretador de Python evaluará la próxima condición con el `elif`. Ello continuará hasta que una condición sea evaluada como `True` o hasta que el `else` sea alcazado. Si ninguna de las condiciones es evaluada como `True`, la ejecución del código del comando `else` será iniciada.

Vamos a emplear el mismo caso anterior:

In [ ]:
nota = float(input('Digita la nota: '))

if nota >= 7:
  print('Aprobó.')
elif 7 > nota >= 5:
  print('Recuperación.')
else:
  print('Reprobó.')

Digita la nota: 20
Aprobó.

## Operadores

Durante la construcción de comandos a veces necesitamos de una elaboración mayor de la expresión condicional, necesitando que algunos operadores lógicos se encuentren integrados.

### `AND`, `OR`, `NOT`

Los operadores lógicos `and`, `or` y `not` son usados para combinar expresiones lógicas en Python. Ellos son usados frecuentemente en conjunto con el comando `if` para crear estructuras condicionales más complejas.

- `AND` es usado para verificar si dos condiciones son verdaderas. La expresión lógica¹ `x and y` se evalúa como `True` tan solo si **ambas condiciones `x` y `y` son verdaderas**, y como `False` en caso contrario.

- `OR` es usado para verificar si al menos una de las condiciones es verdadera. La expresión lógica `x or y` se evalúa como `True` **si al menos una de las condiciones `x` o `y` es verdadera**, y como `False` si ambas condiciones son falsas.

- `NOT` es usado para **negar una condición**. La expresión lógica `not x` es evaluada como `True` si la condición x es falsa, y como `False` si la condición x es verdadera.

¹ Una expresión lógica es una declaración que puede ser evaluada como verdadera o falsa. Ella se compone por operandos lógicos² y por operadores lógicos³, que son usados ​​para combinar varias expresiones lógicas en una única expresión.

² Los operandos lógicos son los elementos que son comparados o evaluados en una expresión lógica. Ellos son generalmente valores verdaderos o falsos, pero también pueden ser expresiones lógicas más complejas. En Python, los operandos lógicos son los valores `True` y `False`.

³ Los operadores lógicos son ls símbolos o palabras clave que son usados ​​para combinar varias expresiones lógicas en una única expresión. En Python, los operadores lógicos son `and`, `or` y `not`, bien como las palabras clave `if`, `elif` e `else`.

> Operadores lógicos más comunes

|a|b|AND|OR|NOT|
|-|-|-|-|-|
|0|0|0|0|1
|0|1|0|1|-
|1|0|0|1|-
|1|1|1|1|0

In [ ]:
v = True
f = False

In [ ]:
if f and f:
  print('La condición es verdadera.')
else:
  print('La condición es falsa.')

La condición es falsa.

In [ ]:
if v or v:
  print('La condición es verdadera.')
else:
  print('La condición es falsa.')

La condición es verdadera.

In [ ]:
if not f:
  print('La condición es verdadera.')
else:
  print('La condición es falsa.')

La condición es verdadera.

### `IN`

Es usado para verificar si un elemento está presente en una lista, tupla u otra colección de conjunto. La expresión `x in y` se evalúa como `True` si el elemento `x` esta presente na variávelen la variable de conjunto `y`, y como `False` en caso contrario.

Podemos verificarlo con variables de texto.

---

**Situación:**

En la escuela nos entregaron una lista con nombres de estudiantes que fueron aprobados según el promedio del semestre, pero es necesario verificar si algunos nombres están en esa lista para confirmar que los datos estén correctos.

La lista distribuida puede ser observada a continuación:

```
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez,
    Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres,
    David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro,
    Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina,
    Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero,
    Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'
```

Los nombres que necesitas verificar son los siguientes:

```
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'
```

In [ ]:
lista = 'Juan Pérez, María González, Pedro Rodríguez,Ana López, Carlos Martínez,Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres,David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro,Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina,Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero,Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'

In [ ]:
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'

In [ ]:
if nombre_1 in lista:
  print('El estudiante aprobó.')
else:
  print('El estudiante reprobó.')

El estudiante aprobó.

In [ ]:
if nombre_2 in lista:
  print('El estudiante aprobó.')
else:
  print('El estudiante reprobó.')

El estudiante reprobó.

## Expresiones Lógicas y Tablas de Verdad en Python
En Python, los operadores lógicos principales son:
*   and
*   or
*   not

**✅ Operador and**

El operador and devuelve True solo si ambos operandos son verdaderos. De lo contrario, devuelve False.

**Tabla de Verdad**

| operando\_1 | operando\_2 | operando\_1 and operando\_2 |
| ----------- | ----------- | --------------------------- |
| False       | False       | False                       |
| False       | True        | False                       |
| True        | False       | False                       |
| True        | True        | True                        |

In [ ]:

valores = [True, False]

print("Operador AND:")x|
for a in valores:
    for b in valores:
        resultado = a and b
        print(f"{a} and {b} = {resultado}")

Operador AND:
True and True = True
True and False = False
False and True = False
False and False = False

**✅ Operador or**

El operador or devuelve True si al menos uno de los operandos es verdadero. Solo devuelve False si ambos son falsos.

**Tabla de Verdad**

| operando\_1 | operando\_2 | operando\_1 or operando\_2 |
| ----------- | ----------- | -------------------------- |
| False       | False       | False                      |
| False       | True        | True                       |
| True        | False       | True                       |
| True        | True        | True                       |

In [ ]:
valores = [True, False]

print("\nOperador OR:")
for a in valores:
    for b in valores:
        resultado = a or b
        print(f"{a} or {b} = {resultado}")

Operador OR:
True or True = True
True or False = True
False or True = True
False or False = False

**✅ Operador not**

El operador not invierte el valor lógico del operando. Si es True, devuelve False; y viceversa.

**Tabla de Verdad**


| operando | not operando |
| -------- | ------------ |
| True     | False        |
| False    | True         |

In [ ]:
valores = [True, False]

print("\nOperador NOT:")
for a in valores:
    resultado = not a
    print(f"not {a} = {resultado}")

Operador NOT:
not True = False
not False = True

---
## Desafios del aula 3

### Entrenando la programación

1 - Escribe un programa que pida a la persona usuaria que proporcione dos números y muestre el número más grande.

In [ ]:
a = float(input("Ingrese el primer número: "))
b = float(input("Ingrese el segundo número: "))
if a > b:
    print("El número más grande es:", a)
elif b > a:
    print("El número más grande es:", b)
else:
    print("Ambos números son iguales.")

Ingrese el primer número: 12
Ingrese el segundo número: 2
El número más grande es: 12.0

2 - Escribe un programa que solicite el porcentaje de crecimiento de producción de una empresa e informe si hubo un crecimiento (porcentaje positivo) o una disminución (porcentaje negativo).

In [ ]:
porcentaje = float(input("Ingrese el porcentaje de crecimiento: "))
if porcentaje > 0:
    print("Hubo un crecimiento.")
elif porcentaje < 0:
    print("Hubo una disminución.")
else:
    print("No hubo cambio en la producción.")

Ingrese el porcentaje de crecimiento: 89
Hubo un crecimiento.

3 - Escribe un programa que determine si una letra proporcionada por la persona usuaria es una vocal o una consonante.

In [ ]:
letra = input("Ingrese una letra: ").lower()
if letra in "aeiou":
    print("Es una vocal.")
elif letra.isalpha():
    print("Es una consonante.")
else:
    print("No ingresó una letra válida.")

Ingrese una letra: A
Es una vocal.

4 - Escribe un programa que lea valores promedio de precios de un modelo de automóvil durante 3 años consecutivos y muestre el valor más alto y más bajo entre esos tres años.

In [ ]:
año1 = float(input("Ingrese el precio promedio del primer año: "))
año2 = float(input("Ingrese el precio promedio del segundo año: "))
año3 = float(input("Ingrese el precio promedio del tercer año: "))
if año1 >= año2 and año1 >= año3:
    mayor = año1
elif año2 >= año1 and año2 >= año3:
    mayor = año2
else:
    mayor = año3

if año1 <= año2 and año1 <= año3:
    menor = año1
elif año2 <= año1 and año2 <= año3:
    menor = año2
else:
    menor = año3
print("El valor más alto es:", mayor)
print("El valor más bajo es:", menor)

Ingrese el precio promedio del primer año: 12
Ingrese el precio promedio del segundo año: 13
Ingrese el precio promedio del tercer año: 12
El valor más alto es: 13.0
El valor más bajo es: 12.0

5 - Escribe un programa que pregunte sobre el precio de tres productos e indique cuál es el producto más barato para comprar.

In [ ]:
prod1 = float(input("Ingrese el precio del primer producto: "))
prod2 = float(input("Ingrese el precio del segundo producto: "))
prod3 = float(input("Ingrese el precio del tercer producto: "))

if prod1 <= prod2 and prod1 <= prod3:
    print("El producto más barato es el Producto 1 y cuesta:", prod1)
elif prod2 <= prod1 and prod2 <= prod3:
    print("El producto más barato es el Producto 2 y cuesta:", prod2)
else:
    print("El producto más barato es el Producto 3 y cuesta:", prod3)

Ingrese el precio del primer producto: 12
Ingrese el precio del segundo producto: 3
Ingrese el precio del tercer producto: 4
El producto más barato es el Producto 2 y cuesta: 3.0

6 - Escribe un programa que lea tres números y los muestre en orden descendente.

In [ ]:
n1 = float(input("Ingrese el primer número: "))
n2 = float(input("Ingrese el segundo número: "))
n3 = float(input("Ingrese el tercer número: "))
if n1 >= n2 and n1 >= n3:
    primero = n1
    if n2 >= n3:
        segundo = n2
        tercero = n3
    else:
        segundo = n3
        tercero = n2
elif n2 >= n1 and n2 >= n3:
    primero = n2
    if n1 >= n3:
        segundo = n1
        tercero = n3
    else:
        segundo = n3
        tercero = n1
else:
    primero = n3
    if n1 >= n2:
        segundo = n1
        tercero = n2
    else:
        segundo = n2
        tercero = n1
print("Números en orden descendente:")
print(primero)
print(segundo)
print(tercero)

Ingrese el primer número: 3
Ingrese el segundo número: 4
Ingrese el tercer número: 2
Números en orden descendente:
4.0
3.0
2.0

7 -Escribe un programa que pregunte en qué turno estudia la persona usuaria ("mañana", "tarde" o "noche") y muestre el mensaje "¡Buenos Días!", "¡Buenas Tardes!", "¡Buenas Noches!" o "Valor Inválido!", según el caso.

In [ ]:
turno = input("¿En qué turno estudias? (mañana/tarde/noche): ").lower()
if turno == "mañana":
    print("¡Buenos Días!")
elif turno == "tarde":
    print("¡Buenas Tardes!")
elif turno == "noche":
    print("¡Buenas Noches!")
else:
    print("¡Valor Inválido!")

¿En qué turno estudias? (mañana/tarde/noche): tarde
¡Buenas Tardes!

8 - Escribe un programa que solicite un número entero a la persona usuaria y determine si es par o impar. Pista: Puedes usar el operador módulo (%).

In [ ]:
num = int(input("Ingrese un número entero: "))
if num % 2 == 0:
    print("El número es par.")
else:
    print("El número es impar.")

Ingrese un número entero: 1
El número es impar.

9 - Escribe un programa que pida un número a la persona usuaria y le informe si es entero o decimal. Momento de los proyectos

In [ ]:
num = float(input("Ingrese un número: "))
if num % 1 == 0:
    print("Es un número entero.")
else:
    print("Es un número decimal.")

Ingrese un número: 2
Es un número entero.

### Momento de los proyectos

10 - Un programa debe ser escrito para leer dos números y luego preguntar a la persona usuaria qué operación desea realizar. El resultado de la operación debe incluir información sobre el número, si es par o impar, positivo o negativo, e entero o decimal.

In [ ]:
n1 = float(input("Ingrese el primer número: "))
n2 = float(input("Ingrese el segundo número: "))
operacion = input("¿Qué operación desea realizar? (suma, resta, multiplicacion, division): ").lower()
if operacion == "suma":
    resultado = n1 + n2
elif operacion == "resta":
    resultado = n1 - n2
elif operacion == "multiplicacion":
    resultado = n1 * n2
elif operacion == "division":
    if n2 != 0:
        resultado = n1 / n2
    else:
        resultado = "Indefinido"
else:
    resultado = "Operación no válida"

if isinstance(resultado, (int, float)):
    print("Resultado de la operación:", resultado)
    if resultado % 2 == 0:
        print("Par")
    else:
        print("Impar")
    if resultado > 0:
        print("Positivo")
    elif resultado < 0:
        print("Negativo")
    else:
        print("Cero")
    if resultado % 1 == 0:
        print("Entero")
    else:
        print("Decimal")
else:
    print(resultado)

Ingrese el primer número: 1
Ingrese el segundo número: 2
¿Qué operación desea realizar? (suma, resta, multiplicacion, division): division
Resultado de la operación: 0.5
Impar
Positivo
Decimal

11 - Escribe un programa que pida a la persona usuaria tres números que representan los lados de un triángulo. El programa debe informar si los valores pueden utilizarse para formar un triángulo y, en caso afirmativo, si es equilátero, isósceles o escaleno. Ten en cuenta algunas sugerencias:


*   Tres lados forman un triángulo cuando la suma de cualesquiera dos lados es mayor que el tercero;
*   Triángulo Equilátero: tres lados iguales;
*   Triángulo Isósceles: dos lados iguales;
*   Triángulo Escaleno: tres lados diferentes.

In [ ]:
l1 = float(input("Ingrese el primer lado del triángulo: "))
l2 = float(input("Ingrese el segundo lado del triángulo: "))
l3 = float(input("Ingrese el tercer lado del triángulo: "))
if l1 + l2 > l3 and l1 + l3 > l2 and l2 + l3 > l1:
    if l1 == l2 == l3:
        print("Es un triángulo equilátero.")
    elif l1 == l2 or l1 == l3 or l2 == l3:
        print("Es un triángulo isósceles.")
    else:
        print("Es un triángulo escaleno.")
else:
    print("Los valores no forman un triángulo.")

Ingrese el primer lado del triángulo: 12
Ingrese el segundo lado del triángulo: 12
Ingrese el tercer lado del triángulo: 3
Es un triángulo isósceles.


12 - Un establecimiento está vendiendo combustibles con descuentos variables. Para el etanol, si la cantidad comprada es de hasta 15 litros, el descuento será del 2 % por litro. En caso contrario, será del 4% por litro. Para el diésel, si la cantidad comprada es de hasta 15 litros, el descuento será del 3% por litro. En caso contrario, será del 5% por litro. El precio por litro de diésel es de R dolares 2,00 y el precio por litro de etanol es de R$ 1,70. Escribe un programa que lea la cantidad de litros vendidos y el tipo de combustible (E para etanol y D para diésel) y calcule el valor a pagar por el cliente. Ten en cuenta algunas sugerencias:
*   El valor del descuento será el producto del precio por litro, la cantidad de litros y el valor del descuento.
*   El valor a pagar por un cliente será el resultado de la multiplicación del precio por litro por la cantidad de litros menos el valor del descuento resultante del cálculo.

In [ ]:
litros = float(input("Ingrese la cantidad de litros: "))
tipo = input("Ingrese el tipo de combustible (E para etanol, D para diésel): ").upper()
if tipo == "EE":
    precio = 1.70
    if litros <= 15:
        descuento = 0.02
    else:
        descuento = 0.04
elif tipo == "D":
    precio = 2.00
    if litros <= 15:
        descuento = 0.03
    else:
        descuento = 0.05
else:
    precio = 0
    descuento = 0
total_sin_descuento = precio * litros
valor_descuento = total_sin_descuento * descuento
total_a_pagar = total_sin_descuento - valor_descuento
print("El valor a pagar es: R$", round(total_a_pagar, 2))

Ingrese la cantidad de litros: 12
Ingrese el tipo de combustible (E para etanol, D para diésel): E
El valor a pagar es: R$ 19.99

13 - En una empresa de venta de bienes raíces, debes crear un código que analice los datos de ventas anuales para ayudar a la dirección en la toma de decisiones. El código debe recopilar los datos de cantidad de ventas durante los años 2022 y 2023 y calcular la variación porcentual. A partir del valor de la variación, se deben proporcionar las siguientes sugerencias:
*   Para una variación superior al 20%: bonificación para el equipo de ventas.
*   Para una variación entre el 2% y el 20%: pequeña bonificación para el equipo de ventas.
*   Para una variación entre el 2% y el -10%: planificación de políticas de incentivo a las ventas.
*   Para bonificaciones inferiores al -10%: recorte de gastos.

In [ ]:
ventas_2022 = int(input("Ingrese la cantidad de ventas en 2022: "))
ventas_2023 = int(input("Ingrese la cantidad de ventas en 2023: "))
variacion = ((ventas_2023 - ventas_2022) / ventas_2022) * 100
print("Variación porcentual:", round(variacion, 2), "%")
if variacion > 20:
    print("Sugerencia: Bonificación para el equipo de ventas.")
elif 2 < variacion <= 20:
    print("Sugerencia: Pequeña bonificación para el equipo de ventas.")
elif -10 <= variacion <= 2:
    print("Sugerencia: Planificación de políticas de incentivo a las ventas.")
else:
    print("Sugerencia: Recorte de gastos.")

Ingrese la cantidad de ventas en 2022: 12
Ingrese la cantidad de ventas en 2023: 22
Variación porcentual: 83.33 %
Sugerencia: Bonificación para el equipo de ventas.

# Estructuras de repetición

Cuando tenemos que ejecutar un mismo bloque de comandos durante varias ocasiones no es nada práctico hacerlo a mano.

**Situación**: Nos fue solicitado obtener e imprimir el promedio de 2 notas de **3 estudantes**:

In [ ]:
nota_1 = float(input('Digita la primera nota: '))
nota_2 = float(input('Digita la segunda nota: '))
print(f'El promedio del estudiante 1 es: {(nota_1+nota_2)/2}')

nota_1 = float(input('Digita la primera nota: '))
nota_2 = float(input('Digita la segunda nota: '))
print(f'El promedio del estudiante 2 es: {(nota_1+nota_2)/2}')

nota_1 = float(input('Digita la primera nota: '))
nota_2 = float(input('Digita la segunda nota: '))
print(f'El promedio del estudiante 3 es: {(nota_1+nota_2)/2}')

Digita la primera nota: 9
Digita la segunda nota: 8
El promedio del estudiante 1 es: 8.5
Digita la primera nota: 7
Digita la segunda nota: 10
El promedio del estudiante 2 es: 8.5
Digita la primera nota: 11
Digita la segunda nota: 12
El promedio del estudiante 3 es: 11.5

Ahora imaginemos una situación en que no son tan solo 3 estudiantes, sino 100 estudiantes. No sería nada interesante repetir el mismo código 100 veces, sino **ejecutar el mismo código 100 veces**.

¡Esta estructura la logramos construir con lazos de repetición!

## `WHILE`

El lazo `while` es una estructura de control de repetición en Python que permite ejecutar un bloque de código repetidamente mientras que una determinada condición sea verdadera. Su estructura es:



```
while condicion:
    # bloque de codigo
```

Vamos a construir un ejemplo con un contador de 1 hasta 10.

In [ ]:
contador = 1
while contador <= 10:
  print(contador)
  # contador = contador + 1
  contador += 1

1
2
3
4
5
6
7
8
9
10

Ahora vamos a colectar las notas y promedios de cada alumno dentro del lazo `while`. Haremos un ejemplo con 3 promedios.

In [ ]:
contador = 1
while contador <= 3:
  nota_1 = float(input('Digita la primera nota: '))
  nota_2 = float(input('Digita la segunda nota: '))
  print(f'El promedio del estudiante 1 es: {(nota_1+nota_2)/2}')
  contador += 1

Digita la primera nota: 8
Digita la segunda nota: 9
El promedio del estudiante 1 es: 8.5
Digita la primera nota: 9
Digita la segunda nota: 10
El promedio del estudiante 1 es: 9.5
Digita la primera nota: 7
Digita la segunda nota: 8
El promedio del estudiante 1 es: 7.5

## `FOR`

El lazo `for` es un tipo de estructura de control de flujo en Python que permite iterar sobre un conjunto de elementos. Su estructura es:



```
for elemento in conjunto:
    # codigo a ser ejecutado para cada elemento
```

El lazo `for` itera sobre cada elemento del conjunto especificado y ejecuta el bloque de código dentro del lazo para cada elemento. Cuando el lazo llega al final del conjunto, este se interrumpe y el programa continúa la ejecución después del lazo.

El conjunto lo podemos generar con la función incorporada [`range()`](https://docs.python.org/3/library/functions.html#func-range). Se trata de una función capaz de generar una secuencia de números enteros. La estructura de esta función es:

```
range(inicio, fin, paso)
```

Según la documentación, `range()` genera una secuencia de números enteros a partir del valor del parámetro `inicio` hasta el valor del parámetro `fin`, de acuerdo con el valor del parámetro `paso`. Si `inicio` no es especificado, el valor por defecto es `0`. Si `paso` no es especificado, el valor por defecto es `1`.

Vamos a recrear el mismo contador `while` con el lazo `for`.

In [ ]:
for n in range(1,11):
  print(n)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for e in range(1,4):
  nota_1 = float(input('Digita la primera nota: '))
  nota_2 = float(input('Digita la segunda nota: '))
  print(f'El promedio del estudiante 1 es: {(nota_1+nota_2)/2}')

Digita la primera nota: 8
Digita la segunda nota: 9
El promedio del estudiante 1 es: 8.5
Digita la primera nota: 9
Digita la segunda nota: 10
El promedio del estudiante 1 es: 9.5
Digita la primera nota: 7
Digita la segunda nota: 8
El promedio del estudiante 1 es: 7.5

`continue` interrumpe la iteración actual del bucle y salta a la siguiente, es decir, regresa al inicio del código. Como ejemplo, aquí hay un código que cuenta del 1 al 5 con un bucle for:

In [ ]:
for i in range(1, 6):
    if i == 4:
        continue
    print(i)

1
2
3
5

Por otro lado, `break` detiene por completo la ejecución del bucle, saliendo del bloque de código. Utilicemos el mismo ejemplo de conteo, pero esta vez con break:

In [ ]:
for i in range(1, 6):
    if i == 4:
        break
    print(i)

1
2
3

---
## Desafios del aula 5


### Entrenando la programación

1 - Escribe un programa que solicite dos números enteros e imprima todos los números enteros entre ellos.

In [ ]:
inicio = int(input("Ingrese el primer número entero: "))
fin = int(input("Ingrese el segundo número entero: "))
if inicio > fin:
    inicio, fin = fin, inicio
for i in range(inicio + 1, fin):
    print(i)

Ingrese el primer número entero: 12
Ingrese el segundo número entero: 16
13
14
15

2 - Escribe un programa para calcular cuántos días tomará que la colonia de una bacteria A supere o iguale a la colonia de una bacteria B, basado en tasas de crecimiento del 3% y 1.5%, respectivamente. Supón que la colonia A comienza con 4 elementos y B con 10.

In [ ]:
dias = 0
bacteria_a = 4
bacteria_b = 10
while bacteria_a < bacteria_b:
    bacteria_a *= 1.03
    bacteria_b *= 1.015
    dias += 1
print("Días hasta que A alcance o supere a B:", dias)

Días hasta que A alcance o supere a B: 63

3 - Para procesar una cantidad de 15 datos de evaluaciones de usuarios de un servicio de la empresa, necesitamos verificar si las calificaciones son válidas. Por lo tanto, escribe un programa que recibirá calificaciones del 0 al 5 y verificará si son valores válidos. Si se ingresa una calificación superior a 5 o inferior a 0, se repetirá hasta que el usuario ingrese un valor válido.

In [ ]:
for i in range(15):
    nota = float(input(f"Ingrese la calificación #{i+1} (0 a 5): "))
    while nota < 0 or nota > 5:
        nota = float(input("Valor inválido. Ingrese una calificación entre 0 y 5: "))
    print("Calificación aceptada.")4

Ingrese la calificación #1 (0 a 5): 2
Calificación aceptada.
Ingrese la calificación #2 (0 a 5): 2
Calificación aceptada.
Ingrese la calificación #3 (0 a 5): 3
Calificación aceptada.
Ingrese la calificación #4 (0 a 5): 4
Calificación aceptada.
Ingrese la calificación #5 (0 a 5): 1
Calificación aceptada.
Ingrese la calificación #6 (0 a 5): 5
Calificación aceptada.
Ingrese la calificación #7 (0 a 5): 6
Valor inválido. Ingrese una calificación entre 0 y 5: 7
Valor inválido. Ingrese una calificación entre 0 y 5: 1
Calificación aceptada.
Ingrese la calificación #8 (0 a 5): 1
Calificación aceptada.
Ingrese la calificación #9 (0 a 5): 2
Calificación aceptada.
Ingrese la calificación #10 (0 a 5): 12
Valor inválido. Ingrese una calificación entre 0 y 5: 1
Calificación aceptada.
Ingrese la calificación #11 (0 a 5): 2
Calificación aceptada.
Ingrese la calificación #12 (0 a 5): 1
Calificación aceptada.
Ingrese la calificación #13 (0 a 5): 2
Calificación aceptada.
Ingrese la calificación #14 (0 a 5): 3
Calificación aceptada.
Ingrese la calificación #15 (0 a 5): -2
Valor inválido. Ingrese una calificación entre 0 y 5: 2
Calificación aceptada.

4 - Desarrolla un programa que lea un conjunto indefinido de temperaturas en grados Celsius y calcule su promedio. La lectura debe detenerse al ingresar el valor -273°C.

In [ ]:
suma = 0
contador = 0
while True:
    temp = float(input("Ingrese una temperatura en °C (-273 para finalizar): "))
    if temp == -273:
        break
    suma += temp
    contador += 1
if contador > 0:
    promedio = suma / contador
    print("Temperatura promedio:", round(promedio, 2), "°C")
else:
    print("No se ingresaron temperaturas válidas.")

Ingrese una temperatura en °C (-273 para finalizar): -123
Ingrese una temperatura en °C (-273 para finalizar): 125
Ingrese una temperatura en °C (-273 para finalizar): 15515
Ingrese una temperatura en °C (-273 para finalizar): 12
Ingrese una temperatura en °C (-273 para finalizar): 222
Ingrese una temperatura en °C (-273 para finalizar): -122
Ingrese una temperatura en °C (-273 para finalizar): -273
Temperatura promedio: 2604.83 °C

 5 - Escribe un programa que calcule el factorial de un número entero proporcionado por el usuario. Recuerda que el factorial de un número entero es el producto de ese número por todos sus antecesores hasta llegar al número 1. Por ejemplo, el factorial de 5 es 5 x 4 x 3 x 2 x 1 = 120.

In [ ]:
num = int(input("Ingrese un número entero para calcular su factorial: "))
factorial = 1
for i in range(1, num + 1):
    factorial *= i
print(f"El factorial de {num} es: {factorial}")

Ingrese un número entero para calcular su factorial: 5
El factorial de 5 es: 120

### Momento de los proyectos
6 - Escribe un programa que genere la tabla de multiplicar de un número entero del 1 al 10, según la elección del usuario. Como ejemplo, para el número 2, la tabla de multiplicar debe mostrarse en el siguiente formato:


```
Tabla de multiplicar del 2:
2 x 1 = 2
2 x 2 = 4
[...]
2 x 10 = 20

```

In [ ]:
numero = int(input("Ingrese un número para mostrar su tabla de multiplicar: "))
print(f"Tabla de multiplicar del {numero}:")
for i in range(1, 11):
    print(f"{numero} x {i} = {numero * i}")

Ingrese un número para mostrar su tabla de multiplicar: 12
Tabla de multiplicar del 12:
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

7 - Los números primos tienen diversas aplicaciones en Ciencia de Datos, como en criptografía y seguridad. Un número primo es aquel que es divisible solo por sí mismo y por 1. Por lo tanto, crea un programa que solicite un número entero y determine si es un número primo o no.

In [ ]:
n = int(input("Ingrese un número entero para verificar si es primo: "))
es_primo = True
if n <= 1:
    es_primo = False
else:
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            es_primo = False
            break
if es_primo:
    print(f"{n} es un número primo.")
else:
    print(f"{n} no es un número primo.")

Ingrese un número entero para verificar si es primo: 12
12 no es un número primo.

8 - Vamos a comprender la distribución de edades de los pensionistas de una empresa de seguros. Escribe un programa que lea las edades de una cantidad no informada de clientes y muestre la distribución en los intervalos [0-25], [26-50], [51-75] y [76-100]. La entrada de datos se detendrá al ingresar un número negativo.

In [ ]:
rango1 = rango2 = rango3 = rango4 = 0
while True:
    edad = int(input("Ingrese la edad del cliente (negativo para terminar): "))
    if edad < 0:
        break
    if 0 <= edad <= 25:
        rango1 += 1
    elif 26 <= edad <= 50:
        rango2 += 1
    elif 51 <= edad <= 75:
        rango3 += 1
    elif 76 <= edad <= 100:
        rango4 += 1
print("Distribución de edades:")
print("[0-25]:", rango1)
print("[26-50]:", rango2)
print("[51-75]:", rango3)
print("[76-100]:", rango4)

Ingrese la edad del cliente (negativo para terminar): 12
Ingrese la edad del cliente (negativo para terminar): 12
Ingrese la edad del cliente (negativo para terminar): 13
Ingrese la edad del cliente (negativo para terminar): 12
Ingrese la edad del cliente (negativo para terminar): 1
Ingrese la edad del cliente (negativo para terminar): 1
Ingrese la edad del cliente (negativo para terminar): 12
Ingrese la edad del cliente (negativo para terminar): 13
Ingrese la edad del cliente (negativo para terminar): 15
Ingrese la edad del cliente (negativo para terminar): -1
Distribución de edades:
[0-25]: 9
[26-50]: 0
[51-75]: 0
[76-100]: 0

9 - En una elección para la gerencia de una empresa con 20 empleados, hay cuatro candidatos. Escribe un programa que calcule al ganador de la elección. La votación se realizó de la siguiente manera:

Cada empleado votó por uno de los cuatro candidatos (representados por los números 1, 2, 3 y 4).

También se contaron los votos nulos (representados por el número 5) y los votos en blanco (representados por el número 6).

Al final de la votación, el programa debe mostrar el número total de votos para cada candidato, los votos nulos y los votos en blanco. Además, debe calcular y mostrar el porcentaje de votos nulos con respecto al total de votos y el porcentaje de votos en blanco con respecto al total de votos.

In [ ]:
c1 = c2 = c3 = c4 = nulos = blancos = 0
for i in range(20):
    voto = int(input(f"Ingrese el voto del empleado #{i+1} (1-4, 5=nulo, 6=blanco): "))
    if voto == 1:
        c1 += 1
    elif voto == 2:
        c2 += 1
    elif voto == 3:
        c3 += 1
    elif voto == 4:
        c4 += 1
    elif voto == 5:
        nulos += 1
    elif voto == 6:
        blancos += 1
    else:
        print("Voto inválido.")

total_votos = c1 + c2 + c3 + c4 + nulos + blancos
print("Resultados de la votación:")
print("Candidato 1:", c1, "votos")
print("Candidato 2:", c2, "votos")
print("Candidato 3:", c3, "votos")
print("Candidato 4:", c4, "votos")
print("Votos nulos:", nulos)
print("Votos en blanco:", blancos)

if total_votos > 0:
    print("Porcentaje de votos nulos:", round((nulos / total_votos) * 100, 2), "%")
    print("Porcentaje de votos en blanco:", round((blancos / total_votos) * 100, 2), "%")

Ingrese el voto del empleado #1 (1-4, 5=nulo, 6=blanco): 2
Ingrese el voto del empleado #2 (1-4, 5=nulo, 6=blanco): 1
Ingrese el voto del empleado #3 (1-4, 5=nulo, 6=blanco): 3
Ingrese el voto del empleado #4 (1-4, 5=nulo, 6=blanco): 2
Ingrese el voto del empleado #5 (1-4, 5=nulo, 6=blanco): 5
Ingrese el voto del empleado #6 (1-4, 5=nulo, 6=blanco): 1
Ingrese el voto del empleado #7 (1-4, 5=nulo, 6=blanco): 2
Ingrese el voto del empleado #8 (1-4, 5=nulo, 6=blanco): 3
Ingrese el voto del empleado #9 (1-4, 5=nulo, 6=blanco): 4
Ingrese el voto del empleado #10 (1-4, 5=nulo, 6=blanco): 5
Ingrese el voto del empleado #11 (1-4, 5=nulo, 6=blanco): 6
Ingrese el voto del empleado #12 (1-4, 5=nulo, 6=blanco): 6
Ingrese el voto del empleado #13 (1-4, 5=nulo, 6=blanco): 6
Ingrese el voto del empleado #14 (1-4, 5=nulo, 6=blanco): 1
Ingrese el voto del empleado #15 (1-4, 5=nulo, 6=blanco): 2
Ingrese el voto del empleado #16 (1-4, 5=nulo, 6=blanco): 3
Ingrese el voto del empleado #17 (1-4, 5=nulo, 6=blanco): 4
Ingrese el voto del empleado #18 (1-4, 5=nulo, 6=blanco): 1
Ingrese el voto del empleado #19 (1-4, 5=nulo, 6=blanco): 1
Ingrese el voto del empleado #20 (1-4, 5=nulo, 6=blanco): 1
Resultados de la votación:
Candidato 1: 6 votos
Candidato 2: 4 votos
Candidato 3: 3 votos
Candidato 4: 2 votos
Votos nulos: 2
Votos en blanco: 3
Porcentaje de votos nulos: 10.0 %
Porcentaje de votos en blanco: 15.0 %

---

# Estructuras de datos

Un conjunto de elementos es una colección de items, que son almacenados juntos de manera organizada. Algunos ejemplos de conjuntos de elementos en Python son las listas, los strings y los diccionarios.

## Listas

Las listas pueden almacenar una colección de items en orden. Ellas son delimitadas por corchetes `[]` y sus elementos son separados por comas.

Estas pueden almacenar cualquier tipo de items, incluyendo números, strings, objetos, otras listas, entre otros. También nos permiten almacenar items de tipos de datos diferentes juntos en una única lista.

In [ ]:
lista = ['Penélope Camacho',9.5,9.0,9.7,True]
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True]

In [ ]:
type(lista)

list

Las listas son organizadas en Python porque **cada elemento de la lista tiene un índice que indica su posición al interior de la lista**. Los índices comienzan en 0 van hasta el tamaño de la lista menos 1.

Tenemos entonces 5 elementos con índices que varían de 0 a 4, ordenadamente:

```
#             [0]           [1]   [2]   [3]    [4]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

En Python tenemos también los índices **negativos** que se inician en el último elemento con el valor de `-1` y avanzan en el universo de los negativos hasta llegar al 1° elemento:

```
#             [-5]         [-4]  [-3]  [-2]   [-1]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

Logramos seleccionar separadamente cada elemento a través de sus respectivos índices. Colocando el nombre de la lista y en seguida el índice que será seleccionado.

In [ ]:
type(lista[0])

str

In [ ]:
type(lista[1])

float

In [ ]:
type(lista[-1])

bool

Una forma más dinámica de trabajar item a item en una lista es utilizando un lazo `for` para leer un elemento a la vez.

In [ ]:
for elemento in lista:
  print(elemento)

Penélope Camacho
9.5
9.0
9.7
True

**Situación**: La nota `9.0` de Penélope necesita ser ajustada pues ganó 1 punto en su última nota por participación en clase. Entonces es necesario realizar un cambio en el índice `2` de `9.0` a `10.0`.

In [ ]:
lista[2] = 10.0

In [ ]:
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True]

También podemos calcular el promedio del estudiante a partir de los datos que tenemos.

In [ ]:
promedio = (lista[1]+lista[2]+lista[3])/3
promedio

9.733333333333333

---
## String - Una secuencia de caracteres Siguiente pregunta

In [ ]:
lenguaje = 'Python'
print(lenguaje[0], lenguaje[1], lenguaje[2], lenguaje[-3], lenguaje[-2], lenguaje[-1])

P y t h o n

 Una cadena es una secuencia de caracteres (letras, números, símbolos, etc.) representada por una sola variable. Por otro lado, una estructura de datos almacena una colección de elementos (que pueden ser de diferentes tipos) en una sola variable.

 Método `split()` para convertir una cadena en una lista dividiéndola según un delimitador (una cadena)

In [ ]:
pregunta = '¿Quién vino primero? ¿El huevo? ¿O fue la serpiente?'
lista_palabras = pregunta.split('?')
print(lista_palabras)

['¿Quién vino primero', ' ¿El huevo', ' ¿O fue la serpiente', '']

Sin delimitador se separa por todos los espacios en blanco

In [ ]:
pregunta = '¿Quién vino primero? ¿El huevo? ¿O fue la serpiente?'
lista_palabras = pregunta.split()
print(lista_palabras)

['¿Quién', 'vino', 'primero?', '¿El', 'huevo?', '¿O', 'fue', 'la', 'serpiente?']

Método `join()` convirete una lista en una cadena pero se define un carácter que será el punto de union de los elementos de la lista

In [ ]:
mezclas = ['Pinturas: rojo, azul y amarillo',
            'Verde: mezcla de azul y amarillo',
            'Naranja: mezcla de rojo y amarillo',
            'Morado: mezcla de rojo y azul']
unificador = '. '
cadena_mezclas = unificador.join(mezclas)
print(cadena_mezclas)

Pinturas: rojo, azul y amarillo. Verde: mezcla de azul y amarillo. Naranja: mezcla de rojo y amarillo. Morado: mezcla de rojo y azul

---

## Manipulación de listas

Las listas son muy útiles en Python porque nos permiten almacenar y acceder a una colección de items de manera organizada y rápida. Estas también ofrecen muchos métodos útiles para manipular los itens almacenados, como adicionar, remover, clasificar y buscar elementos.

#### Cantidad de elementos

Usamos la función [`len()`](https://docs.python.org/3/library/functions.html#len) para descubrir la cantidad de elementos de un conjunto.

In [ ]:
len(lista)

5

#### Partición

La partición de listas por indexación en Python es una técnica muy útil para seleccionar un subconjunto de elementos de una lista. Esta se realiza usando la sintaxis `lista[inicio:fin]`, donde `inicio` es el índice del primer elemento que será incluído en la partición `fin` es el índice del primer elemento que será excluído de la partición.

In [ ]:
lista[0:2]

['Penélope Camacho', 9.5]

In [ ]:
lista[:3]

['Penélope Camacho', 9.5, 10.0]

In [ ]:
lista[3:]

[9.7, True]

In [ ]:
lista[:]

['Penélope Camacho', 9.5, 10.0, 9.7, True]

#### [`append()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=of%20list%20objects%3A-,list.append(x),-Add%20an%20item)

Añade un elemento al final de la lista.

In [ ]:
lista.append(promedio)

In [ ]:
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True, 9.733333333333333]

#### [`extend()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=list.extend(iterable))

Añade varios elementos al final de la lista.

Añadiremos las notas `[10.0,8.0,9.0]` En la lista de Penélope Camacho.

In [ ]:
lista.extend([10.0,8.0,9.0])

In [ ]:
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True, 9.733333333333333, 10.0, 8.0, 9.0]

*A continuación te mostraremos lo que no puede realizarse con* `append`.

In [ ]:
lista.append([10.0,8.0,9.0])

In [ ]:
lista

['Penélope Camacho',
 9.5,
 10.0,
 9.7,
 True,
 9.733333333333333,
 10.0,
 8.0,
 9.0,
 [10.0, 8.0, 9.0]]

#### [`remove()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=append(x).-,list.remove(x),-Remove%20the%20first)

Remueve un elemento específico de la lista.

In [ ]:
lista.remove([10.0, 8.0, 9.0])

In [ ]:
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True]

In [ ]:
lista.remove(9.5)

In [ ]:
lista

['Penélope Camacho', 10.0, 9.7, True]

---
## Otras manipulaciones para las listas

In [ ]:
razas_de_perros = ['Labrador Retriever',
                   'Bulldog Francés',
                   'Pastor Alemán',
                   'Poodle']

 El método es `insert()`  permite insertar un elemento en una posición específica de la lista y tiene sintaxis `lista.insert(indice, elemento)` donde "`lista`" es la lista que recibirá el nuevo elemento, "`indice`" es la posición donde se insertará el nuevo elemento y "`elemento`" es el nuevo elemento que se insertará.

In [ ]:
razas_de_perros.insert(1, 'Golden Retriever')
razas_de_perros

['Labrador Retriever',
 'Golden Retriever',
 'Bulldog Francés',
 'Pastor Alemán',
 'Poodle']

El método `pop() ` elimina el elemento en una posición específica de la lista y lo devuelve como salida al ejecutar el método.

In [ ]:
razas_de_perros.pop(1)

'Golden Retriever'

El método `index() `devuelve el índice de un elemento específico en la lista. Para hacerlo, especificamos el elemento entre paréntesis

In [ ]:
razas_de_perros.index('Pastor Alemán')

2

El método sort() ordena los elementos de la lista en orden ascendente o descendente. Si son palabras, el orden se basa en el orden alfabético o en el orden inverso.

In [ ]:
razas_de_perros.sort()
razas_de_perros

['Bulldog Francés', 'Labrador Retriever', 'Pastor Alemán', 'Poodle']

---

## Diccionario

Los diccionarios son un tipo de estructura de datos que almacenan pares de *llave-valor*. Estos son delimitados por llaves `{}` y los pares *llave-valor* son separados por comas.

```
diccionario = {llave: valor}
```

La **llave** es un elemento único que identifica a un valor en el diccionario, mientras que el **valor** es el item que será almacenado para la llave. Las llaves y sus respectivos valores se pueden emplear para **cualquier tipo de dato**.

Los diccionarios son útiles para almacenar y acceder a los datos de manera organizada y rápida. Se trata de un tipo de conjunto de elementos en Python, pues almacenan una colección de items.

In [ ]:
diccionario = {'llave_1':1,
               'llave_2':2}

diccionario

{'llave_1': 1, 'llave_2': 2}

In [ ]:
type(diccionario)

dict

---
**Situación:**

Vamos a crear un conjunto de datos con las informaciones de matrícula de un estudiante. Los datos son los siguientes:

- matrícula: 2000168933
- día de registro: 25
- mes de registro: 10
- grupo: 2E

In [ ]:
estudiante = {
              'matricula': 2000168933,
              'dia_registro': 25,
              'mes_registro': 10,
              'grupo': '2E'
              }

estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'grupo': '2E'}

In [ ]:
estudiante['matricula']

2000168933

In [ ]:
estudiante['grupo']

'2E'

Es posible sustituir los valores dentro de una llave. Por ejemplo, recibimos la información de que el grupo del estudiante que registramos cambio a `'2G'` y ahora necesitamos cambiar el valor de la llave `'grupo'`.

In [ ]:
estudiante['grupo'] = '2G'

In [ ]:
estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'grupo': '2G'}

También podemos añadir otros datos al diccionario. Vamos a añadir la información sobre la modalidad de estudio, nuestro estudiante estudiará inicialemente en la modalidad EAD.

Definiremos una llave llamada `'modalidad'` con el valor `'EAD'`.

In [ ]:
estudiante['modalidad'] = 'EAD'

In [ ]:
estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'grupo': '2G',
 'modalidad': 'EAD'}

In [ ]:
len(estudiante)

4

## Profundizando en diccionarios

#### [`pop()`](https://python-reference.readthedocs.io/en/latest/docs/dict/pop.html)
Remueve un item de un diccionario y lo representa en la salida.

In [ ]:
estudiante.pop('grupo')

'2G'

In [ ]:
estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'modalidad': 'EAD'}

#### [`items()`](https://python-reference.readthedocs.io/en/latest/docs/dict/items.html)
Retorna una lista de pares `llave-valor` del diccionario.

In [ ]:
estudiante.items()

dict_items([('matricula', 2000168933), ('dia_registro', 25), ('mes_registro', 10), ('modalidad', 'EAD')])

#### [`keys()`](https://python-reference.readthedocs.io/en/latest/docs/dict/keys.html)
Retorna una lista de las llaves del diccionario.

In [ ]:
estudiante.keys()

dict_keys(['matricula', 'dia_registro', 'mes_registro', 'modalidad'])

#### [`values()`](https://python-reference.readthedocs.io/en/latest/docs/dict/values.html)
Retorna una lista de los valores del diccionario.

In [ ]:
estudiante.values()

dict_values([2000168933, 25, 10, 'EAD'])

### Lectura de valores con el lazo `for`

In [ ]:
for llave in estudiante.keys():
  print(llave)

matricula
dia_registro
mes_registro
modalidad

In [ ]:
for llave,valor in estudiante.items():
  print(llave,' --> ', valor)

matricula  -->  2000168933
dia_registro  -->  25
mes_registro  -->  10
modalidad  -->  EAD

---
## Listas en diccionarios

Cada clave puede tener una lista asociada a ella

In [ ]:
tienda = {'nombres': ['televisión', 'celular', 'notebook', 'geladeira', 'estufa'],
          'precios': [2000, 1500, 3500, 4000, 1500]}

Primero recorre los elementos dentro del diccionario (claves y elementos). Segundo se recorre los elementos de cada lista uno a uno e imprime los valores dentro de ellas.

In [ ]:
for clave, elementos in tienda.items():
  print(f'Clave: {clave}\nElementos:')
  for dato in elementos:
    print(dato)

Clave: nombres
Elementos:
televisión
celular
notebook
geladeira
estufa
Clave: precios
Elementos:
2000
1500
3500
4000
1500

## Funciones incorporadas

La función `sum()` permite sumar los elementos de una secuencia o estructura de datos. En el siguiente ejemplo, vamos a sumar los precios de productos:

In [ ]:
precios = [100.0, 400.0, 200.0]
suma = sum(precios)
suma

700.0

La función `help()` se utiliza para acceder a la documentación de funciones, métodos y otros elementos de Python. Muestra información en inglés sobre la funcionalidad, sintaxis y uso de un objeto específico. Para usar esta función, simplemente pasa el elemento deseado entre paréntesis. Por ejemplo, vamos a verificar la documentación de la función print():

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

La función `dir()` se utiliza para mostrar una lista de atributos y métodos asociados a un elemento. Por ejemplo, vamos a descubrir todos los atributos y métodos de una lista:

In [ ]:
lista = [1,2,3]
dir(lista)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

---

## Desafios del aula 5


### Entrenando la programación
1 - Crea un programa que tenga la siguiente lista con los gastos de una empresa de papel [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]. Con estos valores, crea un programa que calcule el promedio de gastos. Sugerencia: usa las funciones integradas sum() y len().

In [ ]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [ ]:
gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]
promedio = sum(gastos) / len(gastos)
print("Promedio de gastos:", round(promedio, 2))

Promedio de gastos: 3144.22


2 - Con los mismos datos de la pregunta anterior, determina cuántas compras se realizaron por encima de 3000 reales y calcula el porcentaje con respecto al total de compras.

In [ ]:
mayores_3000 = [g for g in gastos if g > 3000]
porcentaje = len(mayores_3000) / len(gastos) * 100
print(f"Compras > 3000: {len(mayores_3000)} ({round(porcentaje, 2)}%)")

Compras > 3000: 7 (70.0%)



3 - Crea un código que recoja en una lista 5 números enteros aleatorios e imprima la lista. Ejemplo: [1, 4, 7, 2, 4].

In [ ]:
import random

In [ ]:
help(random.randint)

Help on method randint in module random:

randint(a, b) method of random.Random instance
    Return random integer in range [a, b], including both end points.

In [ ]:
numeros = [random.randint(1, 100) for _ in range(5)]
print("Números aleatorios:", numeros)

Números aleatorios: [59, 20, 91, 79, 86]


4 - Recoge nuevamente 5 números enteros e imprime la lista en orden inverso al enviado.

In [ ]:
help(reversed)

Help on class reversed in module builtins:

class reversed(object)
 |  reversed(sequence, /)
 |
 |  Return a reverse iterator over the values of the given sequence.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __length_hint__(...)
 |      Private method returning an estimate of len(list(it)).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __setstate__(...)
 |      Set state information for unpickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [ ]:
numeros2 = [int(input("Ingrese un número entero: ")) for _ in range(5)]
print("Lista inversa:", list(reversed(numeros2)))

Ingrese un número entero: 12
Ingrese un número entero: 2
Ingrese un número entero: 3
Ingrese un número entero: 4
Ingrese un número entero: 5
Lista inversa: [5, 4, 3, 2, 12]


5 - Crea un programa que, al ingresar un número cualquiera, genere una lista que contenga todos los números primos entre 1 y el número ingresado.

In [ ]:
n = int(input("Ingrese un número: "))
primos = []
for num in range(2, n + 1):
    es_primo = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            es_primo = False
            break
    if es_primo:
        primos.append(num)
print("Números primos:", primos)

Ingrese un número: 4
Números primos: [2, 3]

6 - Escribe un programa que pida una fecha, especificando el día, mes y año, y determine si es válida para su análisis.

In [ ]:
dia = int(input("Día: "))
mes = int(input("Mes: "))
año = int(input("Año: "))
valida = True
if mes < 1 or mes > 12:
    valida = False
elif dia < 1 or dia > 31:
    valida = False
elif mes in [4, 6, 9, 11] and dia > 30:
    valida = False
elif mes == 2:
    es_bisiesto = (año % 4 == 0 and año % 100 != 0) or (año % 400 == 0)
    if (es_bisiesto and dia > 29) or (not es_bisiesto and dia > 28):
        valida = False
print("Fecha válida." if valida else "Fecha inválida.")

Día: 12
Mes: 2
Año: 2025
Fecha válida.

### Momento para los proyectos
7 - Para un estudio sobre la multiplicación de bacterias en una colonia, se recopiló el número de bacterias multiplicadas por día y se puede observar a continuación: [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]. Con estos valores, crea un código que genere una lista que contenga el porcentaje de crecimiento de bacterias por día, comparando el número de bacterias en cada día con el número de bacterias del día anterior. Sugerencia: para calcular el porcentaje de crecimiento, utiliza la siguiente ecuación: 100 * (muestra_actual - muestra_anterior) / muestra_anterior.

In [ ]:
bacterias = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]
crecimientos = []
for i in range(1, len(bacterias)):
    crecimiento = 100 * (bacterias[i] - bacterias[i-1]) / bacterias[i-1]
    crecimientos.append(round(crecimiento, 2))
print("Crecimiento porcentual por día:", crecimientos)

Crecimiento porcentual por día: [75.0, 57.14, 51.52, 56.0, 44.87, 46.9, 51.2, 50.6, 50.53]

8 - Para una selección de productos alimenticios, debemos separar el conjunto de IDs proporcionados por números enteros, sabiendo que los productos con ID par son dulces y los que tienen ID impar son amargos. Crea un código que recoja 10 IDs. Luego, calcula y muestra la cantidad de productos dulces y amargos.

In [ ]:
ids = [int(input("Ingrese el ID del producto: ")) for _ in range(10)]
dulces = sum(1 for i in ids if i % 2 == 0)
amargos = len(ids) - dulces
print(f"Dulces: {dulces}, Amargos: {amargos}")

Ingrese el ID del producto: 1
Ingrese el ID del producto: 2
Ingrese el ID del producto: 3
Ingrese el ID del producto: 6
Ingrese el ID del producto: 5
Ingrese el ID del producto: 5
Ingrese el ID del producto: 4
Ingrese el ID del producto: 4
Ingrese el ID del producto: 4
Ingrese el ID del producto: 2
Dulces: 6, Amargos: 4

9 - Desarrolla un programa que informe la puntuación de un estudiante de acuerdo con sus respuestas. Debe pedir la respuesta del estudiante para cada pregunta y verificar si la respuesta coincide con el resultado. Cada pregunta vale un punto y hay opciones A, B, C o D.


```
Resultado del examen:
01 - D
02 - A
03 - C
04 - B
05 - A
06 - D
07 - C
08 - C
09 - A
10 - B

```

In [ ]:
respuestas_correctas = ['D', 'A', 'C', 'B', 'A', 'D', 'C', 'C', 'A', 'B']
puntaje = 0
for i in range(10):
    respuesta = input(f"Respuesta para la pregunta {i+1}: ").upper()
    if respuesta == respuestas_correctas[i]:
        puntaje += 1
print("Puntaje final:", puntaje)

Respuesta para la pregunta 1: A
Respuesta para la pregunta 2: B
Respuesta para la pregunta 3: C
Respuesta para la pregunta 4: D
Respuesta para la pregunta 5: D
Respuesta para la pregunta 6: A
Respuesta para la pregunta 7: B
Respuesta para la pregunta 8: D
Respuesta para la pregunta 9: C
Respuesta para la pregunta 10: A
Puntaje final: 1

10 - Un instituto de meteorología desea realizar un estudio de la temperatura media de cada mes del año. Para ello, debes crear un código que recoja y almacene esas temperaturas medias en una lista. Luego, calcula el promedio anual de las temperaturas y muestra todas las temperaturas por encima del promedio anual y en qué mes ocurrieron, mostrando los meses por su nombre (Enero, Febrero, etc.).

In [ ]:
meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
         'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
temps = [float(input(f"Temperatura media de {mes}: ")) for mes in meses]
prom_anual = sum(temps) / len(temps)
print("Temperaturas por encima del promedio anual:")
for i in range(12):
    if temps[i] > prom_anual:
        print(f"{meses[i]}: {temps[i]} °C")

Temperatura media de Enero: 12
Temperatura media de Febrero: 13
Temperatura media de Marzo: 14
Temperatura media de Abril: 16
Temperatura media de Mayo: 12
Temperatura media de Junio: 12
Temperatura media de Julio: 13
Temperatura media de Agosto: 15
Temperatura media de Septiembre: 16
Temperatura media de Octubre: 14
Temperatura media de Noviembre: 14
Temperatura media de Diciembre: 10
Temperaturas por encima del promedio anual:
Marzo: 14.0 °C
Abril: 16.0 °C
Agosto: 15.0 °C
Septiembre: 16.0 °C
Octubre: 14.0 °C
Noviembre: 14.0 °C

11 - Una empresa de comercio electrónico está interesada en analizar las ventas de sus productos. Los datos de ventas se han almacenado en un diccionario:

`{'Producto A': 300, 'Producto B': 80, 'Producto C': 60, 'Producto D': 200, 'Producto E': 250, 'Producto F': 30}`

Escribe un código que calcule el total de ventas y el producto más vendido.

In [ ]:
ventas = {'Producto A': 300, 'Producto B': 80, 'Producto C': 60,
          'Producto D': 200, 'Producto E': 250, 'Producto F': 30}
total = sum(ventas.values())
mas_vendido = max(ventas, key=ventas.get)
print("Total de ventas:", total)
print("Producto más vendido:", mas_vendido)

Total de ventas: 920
Producto más vendido: Producto A

12 - Se realizó una encuesta de mercado para decidir cuál diseño de marca infantil es más atractivo para los niños. Los votos de la encuesta se pueden ver a continuación:



```
Tabla de votos de la marca
Diseño 1 - 1334 votos
Diseño 2 - 982 votos
Diseño 3 - 1751 votos
Diseño 4 - 210 votos
Diseño 5 - 1811 votos
```



Adapta los datos proporcionados a una estructura de diccionario. A partir de ello, informa el diseño ganador y el porcentaje de votos recibidos.

In [ ]:
votos = {
    'Diseño 1': 1334,
    'Diseño 2': 982,
    'Diseño 3': 1751,
    'Diseño 4': 210,
    'Diseño 5': 1811
}
total_votos = sum(votos.values())
ganador = max(votos, key=votos.get)
porcentaje = votos[ganador] / total_votos * 100
print(f"Diseño ganador: {ganador} ({round(porcentaje, 2)}%)")

Diseño ganador: Diseño 5 (29.75%)

13 - Los empleados de un departamento de tu empresa recibirán una bonificación del 10% de su salario debido a un excelente rendimiento del equipo. El departamento de finanzas ha solicitado tu ayuda para verificar las consecuencias financieras de esta bonificación en los recursos. Se te ha enviado una lista con los salarios que recibirán la bonificación: [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]. La bonificación de cada empleado no puede ser inferior a 200. En el código, convierte cada uno de los salarios en claves de un diccionario y la bonificación de cada salario en el valor correspondiente. Luego, informa el gasto total en bonificaciones, cuántos empleados recibieron la bonificación mínima y cuál fue el valor más alto de la bonificación proporcionada.

In [ ]:
salarios = [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]
bonificaciones = {}
for s in salarios:
    bonificacion = max(s * 0.10, 200)
    bonificaciones[s] = bonificacion
total_bonificaciones = sum(bonificaciones.values())
minimas = sum(1 for b in bonificaciones.values() if b == 200)
mayor_bonificacion = max(bonificaciones.values())
print("Total en bonificaciones:", round(total_bonificaciones, 2))
print("Bonificaciones mínimas:", minimas)
print("Mayor bonificación:", round(mayor_bonificacion, 2))

Total en bonificaciones: 6087.8
Bonificaciones mínimas: 2
Mayor bonificación: 790.3

14 - Un equipo de científicos de datos está estudiando la diversidad biológica en un bosque. El equipo recopiló información sobre el número de especies de plantas y animales en cada área del bosque y almacenó estos datos en un diccionario. En él, la clave describe el área de los datos y los valores en las listas corresponden a las especies de plantas y animales en esas áreas, respectivamente.


```
{'Área Norte': [2819, 7236], 'Área Leste': [1440, 9492], 'Área Sul': [5969, 7496], 'Área Oeste': [14446, 49688], 'Área Centro': [22558, 45148]}
```


Escribe un código para calcular el promedio de especies por área e identificar el área con la mayor diversidad biológica. Sugerencia: utiliza las funciones incorporadas sum() y len().

In [ ]:
datos = {
    'Área Norte': [2819, 7236],
    'Área Leste': [1440, 9492],
    'Área Sul': [5969, 7496],
    'Área Oeste': [14446, 49688],
    'Área Centro': [22558, 45148]
}
promedios = {}
for area, especies in datos.items():
    promedio = sum(especies) / len(especies)
    promedios[area] = promedio
mayor_diversidad = max(promedios, key=promedios.get)
print("Promedios por área:")
for area, promedio in promedios.items():
    print(f"{area}: {round(promedio, 2)}")
print("Área con mayor diversidad:", mayor_diversidad)

Promedios por área:
Área Norte: 5027.5
Área Leste: 5466.0
Área Sul: 6732.5
Área Oeste: 32067.0
Área Centro: 33853.0
Área con mayor diversidad: Área Centro

15 - El departamento de Recursos Humanos de tu empresa te pidió ayuda para analizar las edades de los colaboradores de 4 sectores de la empresa. Para ello, te proporcionaron los siguientes datos:


```
{'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
 'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
 'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
 'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}
```

Dado que cada sector tiene 10 colaboradores, construye un código que calcule la media de edad de cada sector, la edad media general entre todos los sectores y cuántas personas están por encima de la edad media general.

In [ ]:
sectores = {
    'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
    'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
    'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
    'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]
}
total_edades = 0
total_personas = 0
edades_mayores = 0
medias_sector = {}

# Calcular medias por sector
for nombre, edades in sectores.items():
    media = sum(edades) / len(edades)
    medias_sector[nombre] = media
    total_edades += sum(edades)
    total_personas += len(edades)

media_general = total_edades / total_personas

# Contar mayores a la media general
for edades in sectores.values():
    for edad in edades:
        if edad > media_general:
            edades_mayores += 1

print("Media por sector:")
for sector, media in medias_sector.items():
    print(f"{sector}: {round(media, 2)}")
print("Edad media general:", round(media_general, 2))
print("Personas por encima de la media general:", edades_mayores)

Media por sector:
Setor A: 39.9
Setor B: 42.3
Setor C: 35.8
Setor D: 36.5
Edad media general: 38.62
Personas por encima de la media general: 18

# 💼 Proyecto: Sistema de Gestión de Inventario de Productos

## 🎯 Objetivo

Desarrollar un sistema CRUD interactivo en Python que permita a una empresa gestionar su inventario de productos de forma simple, utilizando estructuras como **diccionarios** y **listas**, y aplicando conceptos clave de programación como:

- Estructuras de control
- Funciones incorporadas
- Métodos de manipulación de datos

---

## 📦 Estructura de los datos

Cada producto en el inventario estará representado con un **ID único** (clave del diccionario), y los siguientes valores asociados:

```python
{
    "001": {"nombre": "Teclado", "precio": 150.0, "cantidad": 10},
    "002": {"nombre": "Mouse", "precio": 75.0, "cantidad": 25}
}
```

---

## 🛠 Funcionalidades que debe tener el sistema

### 1. Crear (C)
Registrar un nuevo producto con:
- ID único
- Nombre
- Precio
- Cantidad

### 2. Leer / Consultar (R)
- Mostrar todos los productos (`items()`)
- Consultar producto por ID (`get()` o `in`)
- Consultar producto por nombre (`values()` + búsqueda)
- Consultar producto por índice (`list(inventario.items())[i]`)

### 3. Actualizar (U)
- Modificar el **nombre**, **precio** o **cantidad** de un producto dado su ID
- Validar que el ID exista

### 4. Eliminar (D)
- Eliminar producto por ID (`pop()`)
- Eliminar producto por índice (`del`)
- Eliminar todo el inventario (`clear()`)

### 5. Extras / Estadísticas
- Mostrar el número total de productos (`len()`)
- Calcular el valor total del inventario (`precio * cantidad`)
- Buscar productos que contengan un nombre parcial (ej. buscar "usb")

---

## 🎮 Interacción (Menú)

El sistema debe mostrar el siguiente menú interactivo:

```text
1 - Agregar producto
2 - Ver todos los productos
3 - Consultar producto por ID
4 - Consultar producto por nombre
5 - Consultar producto por índice
6 - Actualizar producto
7 - Eliminar producto por ID
8 - Eliminar producto por índice
9 - Vaciar inventario
10 - Ver estadísticas
0 - Salir
```

---

## 🧠 Conceptos clave que aplicarás

- **Diccionarios**: `keys()`, `values()`, `items()`, `get()`, `pop()`, `update()`, `clear()`
- **Listas**: `append()`, `index()`, `del`, `list()`
- **Condicionales**: `if`, `elif`, `else`
- **Bucles**: `while`, `for`
- **Validaciones** y control de errores (`try-except`)
- **Funciones incorporadas**: `input()`, `len()`, `sum()`, `round()`

In [ ]:
inventario = {}

def crear_producto():
    id_prod = input("ID del producto: ")
    if id_prod in inventario:
        print("⚠️ Ese ID ya existe.")
        return
    nombre = input("Nombre del producto: ")
    try:
        precio = float(input("Precio: "))
        cantidad = int(input("Cantidad: "))
        inventario[id_prod] = {"nombre": nombre, "precio": precio, "cantidad": cantidad}
        print("✅ Producto agregado.")
    except ValueError:
        print("❌ Entrada inválida. Precio y cantidad deben ser numéricos.")

def ver_todos():
    if not inventario:
        print("📭 Inventario vacío.")
    else:
        for id_prod, datos in inventario.items():
            print(f"ID: {id_prod} | Nombre: {datos['nombre']} | Precio: {datos['precio']} | Cantidad: {datos['cantidad']}")

def consultar_por_id():
    id_buscar = input("ID del producto: ")
    if id_buscar in inventario:
        datos = inventario[id_buscar]
        print(f"Producto encontrado: {datos}")
    else:
        print("❌ No existe un producto con ese ID.")

def consultar_por_nombre():
    nombre_buscar = input("Nombre del producto: ").lower()
    encontrados = []
    for id_prod, datos in inventario.items():
        if nombre_buscar in datos['nombre'].lower():
            encontrados.append((id_prod, datos))
    if encontrados:
        for id_prod, datos in encontrados:
            print(f"ID: {id_prod} | {datos}")
    else:
        print("❌ Ningún producto coincide con ese nombre.")

def consultar_por_indice():
    try:
        indice = int(input("Índice del producto: "))
        lista_items = list(inventario.items())
        id_prod, datos = lista_items[indice]
        print(f"ID: {id_prod} | {datos}")
    except (IndexError, ValueError):
        print("❌ Índice inválido.")

def actualizar_producto():
    id_prod = input("ID del producto a actualizar: ")
    if id_prod in inventario:
        campo = input("¿Qué deseas actualizar? (nombre/precio/cantidad): ").lower()
        if campo in ["nombre", "precio", "cantidad"]:
            nuevo_valor = input(f"Nuevo valor para {campo}: ")
            try:
                if campo == "precio":
                    inventario[id_prod][campo] = float(nuevo_valor)
                elif campo == "cantidad":
                    inventario[id_prod][campo] = int(nuevo_valor)
                else:
                    inventario[id_prod][campo] = nuevo_valor
                print("✅ Producto actualizado.")
            except ValueError:
                print("❌ Valor no válido.")
        else:
            print("❌ Campo inválido.")
    else:
        print("❌ ID no encontrado.")

def eliminar_por_id():
    id_prod = input("ID del producto a eliminar: ")
    if id_prod in inventario:
        inventario.pop(id_prod)
        print("🗑️ Producto eliminado.")
    else:
        print("❌ ID no encontrado.")

def eliminar_por_indice():
    try:
        indice = int(input("Índice del producto a eliminar: "))
        clave = list(inventario.keys())[indice]
        del inventario[clave]
        print("🗑️ Producto eliminado.")
    except (IndexError, ValueError):
        print("❌ Índice inválido.")

def vaciar_inventario():
    inventario.clear()
    print("📦 Inventario vaciado.")

def estadisticas():
    total_productos = len(inventario)
    valor_total = sum(prod["precio"] * prod["cantidad"] for prod in inventario.values())
    print(f"📊 Total de productos: {total_productos}")
    print(f"💰 Valor total del inventario: {round(valor_total, 2)}")

def menu():
    while True:
        print("\n--- MENU CRUD INVENTARIO ---")
        print("1 - Agregar producto")
        print("2 - Ver todos los productos")
        print("3 - Consultar producto por ID")
        print("4 - Consultar producto por nombre")
        print("5 - Consultar producto por índice")
        print("6 - Actualizar producto")
        print("7 - Eliminar producto por ID")
        print("8 - Eliminar producto por índice")
        print("9 - Vaciar inventario")
        print("10 - Ver estadísticas")
        print("0 - Salir")

        opcion = input("Selecciona una opción: ")

        if opcion == "1":
            crear_producto()
        elif opcion == "2":
            ver_todos()
        elif opcion == "3":
            consultar_por_id()
        elif opcion == "4":
            consultar_por_nombre()
        elif opcion == "5":
            consultar_por_indice()
        elif opcion == "6":
            actualizar_producto()
        elif opcion == "7":
            eliminar_por_id()
        elif opcion == "8":
            eliminar_por_indice()
        elif opcion == "9":
            vaciar_inventario()
        elif opcion == "10":
            estadisticas()
        elif opcion == "0":
            print("👋 Saliendo del sistema...")
            break
        else:
            print("❌ Opción inválida.")

menu()

--- MENU CRUD INVENTARIO ---
1 - Agregar producto
2 - Ver todos los productos
3 - Consultar producto por ID
4 - Consultar producto por nombre
5 - Consultar producto por índice
6 - Actualizar producto
7 - Eliminar producto por ID
8 - Eliminar producto por índice
9 - Vaciar inventario
10 - Ver estadísticas
0 - Salir
Selecciona una opción: 1
ID del producto: 2
Nombre del producto: teclado
Precio: 12
Cantidad: 307
✅ Producto agregado.

--- MENU CRUD INVENTARIO ---
1 - Agregar producto
2 - Ver todos los productos
3 - Consultar producto por ID
4 - Consultar producto por nombre
5 - Consultar producto por índice
6 - Actualizar producto
7 - Eliminar producto por ID
8 - Eliminar producto por índice
9 - Vaciar inventario
10 - Ver estadísticas
0 - Salir
Selecciona una opción: 10
📊 Total de productos: 1
💰 Valor total del inventario: 3684.0

--- MENU CRUD INVENTARIO ---
1 - Agregar producto
2 - Ver todos los productos
3 - Consultar producto por ID
4 - Consultar producto por nombre
5 - Consultar producto por índice
6 - Actualizar producto
7 - Eliminar producto por ID
8 - Eliminar producto por índice
9 - Vaciar inventario
10 - Ver estadísticas
0 - Salir

KeyboardInterrupt: Interrupted by user

# ALURA CURSOS ONLINE
# Instructor: Álvaro Hernando Camacho Diaz